body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF8E7;
    overflow-x: hidden;
}

/*NavBar-----------------------------------------------------------------------------------------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px; 
    position: fixed;
    z-index: 9999;
    width: 100%;
    overflow-x: hidden;
}

.logo img {
    max-width: 80px; 
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 35px; 
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    padding: 5px 10px; 
}

.nav-links a:hover {
    background-color: orange;
    border-radius: 5px;
}

/*Header--------------------------------------------------------------------------------------------------------------------------*/

header {
    position: relative; 
    height: 70vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header-background {
    width: 100%;
    height: 100vh;
    background-image: url('images/churrasco-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.title-header {
    text-align: center;
    color: white; 
    z-index: 1; 
}

.title-header h1 {
    font-size: 7rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    padding: 10px 20px;
    border-radius: 5px; 
}

.title-header h3 {
    margin: -10%;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding: 5px 10px;
    border-radius: 5px;
}

/*Cardapio-----------------------------------------------------------------------------------------------------------------*/

.cardapio-container{
    background-color: #FFF8E7;
    margin-top: 20%;
}

.title-cardapio {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.title-cardapio img {
    margin-right: 10px;
    max-width: 40px;
}

.title-cardapio h1 {
    margin: 0;
}



.cardapio-all-images {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    overflow-x: hidden;
}

.cardapio-image-container {
    text-align: center;
    margin: 20px;
}

.cardapio-images {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.image-title {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #A16740; 

}

.image-description {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #666;
    max-width: 400px;
}


/*Galeria de fotos------------------------------------------------------------------------------------------------------------------*/
.galeria-container {
    background-color: #FFFDF0; 
    padding: 50px 0;
    text-align: center;
}

.title-galeria {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.title-galeria img {
    margin-right: 10px;
    max-width: 30px;
}

.galeria-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

.galeria-image {
    margin: 10px;
}

.galeria-image img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*Fale Conosco -----------------------------------------------------------------------------------------------------------------*/
.fale-conosco-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 50px 0;
    background-color: #333; 
    color: #FFF; 
    overflow-x: hidden;
}

.formulario-contato {
    flex: 1;
    padding-right: 20px;
    margin-left: 5%;
}

.informacoes-contato {
    flex: 1;
    padding-left: 20px;
    margin-right: 5%;

}

.formulario-contato h2,
.informacoes-contato h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.formulario-contato label,
.informacoes-contato p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

.formulario-contato input,
.formulario-contato select,
.formulario-contato textarea,
.formulario-contato button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555; 
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: #444; 
    color: #FFF; 
    box-sizing: border-box; 
}

.formulario-contato textarea {
    resize: vertical;
}

.formulario-contato button {
    background-color: #DDB59A; 
    color: #333; 
    cursor: pointer;
}

.informacoes-contato p {
    font-size: 1rem;
    margin-bottom: 5px; 
}

.redes{
    width: 50px;
}


/* Tamanhos de tela menores (responsividade) */
@media screen and (max-width: 768px) {

    /*NavBar*/
    .navbar {
        padding: 0;
    }

    .nav-links li {
        margin: -0.5%;
    }
    

    .logo img {
        max-width: 60px;
    }

    /*Header*/
    header {
        height: 50vh;
    }

    .header-background{
        width: 100%;
    }

    .title-header h1 {
        font-size: 5rem;
    }

    .title-header h3 {
        font-size: 1.5rem;
        margin: -5% 0;
    }

    /*Cardapio*/
    .title-cardapio{
        font-size: 1rem;
    }

    .cardapio-container{
        margin-top: 100%;
    }

    .cardapio-all-images {
        display: block;
        
    }

    .cardapio-image-container {
        margin-bottom: 20px;
        text-align: center;
    }

    .cardapio-images {
        display: inline-block;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    /*Galeria de fotos*/
    .title-galeria{
        font-size: 1rem;
    }

    .galeria-image img {
        width: 100%; 
        height: auto; 
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /*Fale Conosco*/
    .fale-conosco-container {
        flex-direction: column;
        padding: 30px 0; 
        background-color: #333;
    }

    .formulario-contato,
    .informacoes-contato {
        padding: 0 20px; 
        margin: 10px 0;
        text-align: center; 
    }

    .formulario-contato h2,
    .informacoes-contato h2 {
        font-size: 1.5rem; 
        margin-bottom: 15px;
    }

    .formulario-contato label,
    .informacoes-contato p {
        font-size: 0.9rem; 
        margin-bottom: 7px;
    }

    .formulario-contato input,
    .formulario-contato select,
    .formulario-contato textarea,
    .formulario-contato button {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .formulario-contato button {
        padding: 8px; 
    }

    .redes {
        width: 40px; 
    }
}
